--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
fastapi>=0.110
uvicorn[standard]
websockets
pydantic-settings
faster-whisper
sounddevice
numpy<2.0
groq
sentence-transformers
tokenizers>=0.14,<0.19
pinecone-client
notion-client
streamlit
requests
chromadb
pdfplumber
asyncpg
python-dotenv
python-multipart
colorlog
passlib==1.7.4
bcrypt==4.0.1
sqlalchemy>=2.0
aiosqlite
pyjwt
httpx
pydantic[email]
deepgram-sdk
cryptography
