fastapi>=0.110
uvicorn[standard]
websockets
pydantic-settings
faster-whisper
sounddevice
numpy
groq
sentence-transformers
tokenizers>=0.14,<0.19
pinecone-client
notion-client
streamlit
requests
chromadb
pdfplumber
asyncpg
python-dotenv
python-multipart
colorlog
passlib==1.7.4
bcrypt==4.0.1
sqlalchemy>=2.0
aiosqlite
pyjwt
httpx
